<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
        <script src="script/angular.min.js"></script>
        <script>
                 $(document).ready(function(){
        function setActiveUser()
    {
      var au=localStorage.getItem("activeKuch");
      // alert(au);
      $("#txtemail").val(au).prop("readonly",true);
    }
    setActiveUser();
     })
        </script>
        <script>

            var module=angular.module("med-manager",[]);
            module.controller("mycontroller",function($scope,$http){
                var au=localStorage.getItem("activeKuch");

               
     
                          $scope.fn=au;
                          $scope.jsonArray;
                $scope.getRecord=function(){
                    var url="/get-med-records?emailk="+$scope.fn;
                    $http.get(url).then(done,fail);
                    function done(resp)
                    {
                        // alert(JSON.stringify(resp.data));
                        $scope.jsonArray=resp.data;
    
                    }
                    function fail(resp)
                    {
                        alert(resp.data);
                    }
                }
                $scope.dodelete = function(sno)
                {
                    // if(confirm("R U Sure?")==false)
                    //     return;
                        var url="/do-delete?srnokuch="+sno;
                        $http.get(url).then(done,fail);
                        function done(resp)
                        {
                        //    alert(resp.data);
                           $scope.getRecord();

                        }
                     function fail(resp)
                        {
                                alert(resp.data);
                        }   

                }
               
            
            })
          
    </script>
</head>

<body  ng-app="med-manager" ng-controller="mycontroller">
    <nav class="navbar bg-body-tertiary ">
        <div class="container-fluid " style="background-color:rgb(198, 202, 204); height: 55; margin-bottom: 0;">
          <a class="navbar-brand" href="#">
            <img src="pics/site logo1.jpg"  width="55" height="55" style="border-radius: 50%;" class="d-inline-block align-text-center">
           <b> helpRX
            
          </a>
        </div>
      </nav>
      
    <center>
        <h1>MEDICINE MANAGER</h1>
        
    </center>
     
    <table class="table table-dark table-striped">
        
        <div class="col-md-6 offset-md-4 my-4">
        Email id <input type="text" style="width: 300px;"  id="txtemail" ng-model="fn" name="" value="">
      
        <input type="button" value="Get-Record"  style="margin-bottom: 10px ;" ng-click="getRecord();">
        </div>
        <thead>
            <tr>
                <th scope="col">Sr.no.</th>
                <th scope="col">Medicine Name</th>
                <th scope="col">Expiry date</th>
                <th scope="col">QTY</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tr ng-repeat="obj in jsonArray">
            <td>{{$index+1}}</td>
            <td>{{obj.med}}</td>
            <td>{{obj.expdate}}</td>
            <td>{{obj.qty}}</td>
            <td align="center">
                <input type="button" ng-click="dodelete(obj.srno);" value="Delete">
            </td>
          
        </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>

